### Experiment 3 with Beautiful Soup
  Scaping data from real website. Link to the tutorial: https://www.youtube.com/watch?v=8dTpNajxaH0&t=673s

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_manufacturing_companies_by_revenue'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

In [3]:
# soup.find_all('table')[0]

In [4]:
help soup.find?

Signature: soup.find(name=None, attrs={}, recursive=True, string=None, **kwargs)
Docstring:
Look in the children of this PageElement and find the first
PageElement that matches the given criteria.

All find_* methods take a common set of arguments. See the online
documentation for detailed explanations.

:param name: A filter on tag name.
:param attrs: A dictionary of filters on attribute values.
:param recursive: If this is True, find() will perform a
    recursive search of this PageElement's children. Otherwise,
    only the direct children will be considered.
:param limit: Stop looking after finding this many results.
:kwargs: A dictionary of filters on attribute values.
:return: A PageElement.
:rtype: bs4.element.Tag | bs4.element.NavigableString
File:      c:\users\igs\appdata\local\programs\python\python310\lib\site-packages\bs4\element.py
Type:      method

In [5]:
# Get the first table as table_1
table_1 = soup.find_all('table')[0]

##### we want to extract the table 2022, so, we are looking to get the title for each columns
!<img src="images/image.png" alt="alt text" width="70%" height="auto" class="blog-image">

In [6]:
titles = table_1.find_all('th')

In [7]:
# show all the th html  tag
titles

[<th scope="col">No.
 </th>,
 <th scope="col">Company
 </th>,
 <th scope="col">Industry
 </th>,
 <th scope="col">Revenue (by US$ billion)
 </th>,
 <th scope="col">Headquarters
 </th>]

In [8]:
table_title = [title.text.strip() for title in titles]
print(table_title)

['No.', 'Company', 'Industry', 'Revenue (by US$ billion)', 'Headquarters']

In [44]:
df = pd.DataFrame(columns=table_title)
df

Empty DataFrame
Columns: [No., Company, Industry, Revenue (by US$ billion), Headquarters]
Index: []

In [10]:
##### we want to extract the table 2022, so, we are looking to get the title for each columns
!<img src="images/image2.png" alt="alt text" width="70%" height="auto" class="blog-image">

The syntax of the command is incorrect.

##### we want to extract the data for the table
!<img src="images/image_td.png" alt="alt text" width="90%" height="auto" class="blog-image">

In [18]:
column_data = table_1.find_all('tr')

In [34]:
# Visualizing the first column
for row in column_data[1:]:
    row_data = row.find_all('td')
    ind_row = [data.text.strip() for data in row_data]
    print(ind_row)

['1', 'Apple', 'Electronics, telecommunications equipment', '274.515', 'United States']
['2', 'Toyota Group', 'Engineering, various', '256.721', 'Japan']
['3', 'Volkswagen Group', 'Automotive', '253.965', 'Germany']
['4', 'Samsung Electronics', 'Electronics, various', '200.734', 'South Korea']
['5', 'Foxconn', 'Electronics', '181.945', 'Taiwan']
['6', 'Mercedes-Benz Group', 'Automotive', '175.827', 'Germany']
['7', 'Cardinal Health', 'Pharmaceuticals', '152.922', 'United States']
['8', 'China Railway and Engineering Group', 'Engineering', '141.383', 'China']
['9', 'Huawei', 'Telecommunications equipment, electronics', '129.183', 'China']
['10', 'Ford', 'Automotive', '127.144', 'United States']
['11', 'Honda', 'Automotive', '124.240', 'Japan']
['12', 'General Motors', 'Automotive', '122.485', 'United States']
['13', 'Mitsubishi', 'Engineering, various', '121.542', 'Japan']
['14', 'BMW', 'Automotive', '112.794', 'Germany']
['15', 'SAIC Motor', 'Automotive', '107.555', 'China']
['16', 'China Minmetals', 'Metals', '102.014', 'China']
['17', 'FAW Group', 'Automotive', '101.075', 'China']
['18', 'Hengli Group', 'Textiles', '100.773', 'China']
['19', 'China Baowu Steel Group', 'Steel', '97.643', 'China']
['20', 'Dell', 'Electronics', '94.224', 'United States']
['21', 'Nestle', 'Food & beverages', '89.852', 'Switzerland\n/\n\xa0United States']
['22', 'Hyundai Motor Company', 'Automotive', '88.155', 'South Korea']
['23', 'Dongfeng Motor Group', 'Automotive', '86.85', 'China']
['24', 'Sony', 'Electronics', '84.893', 'Japan']
['25', 'Johnson & Johnson', 'Personal care products', '82.344', 'United States']
['26', 'Hitachi', 'Engineering, various', '82.334', 'Japan']
['27', 'Bosch', 'Engineering, various', '81.463', 'Germany']
['28', 'General Electric', 'Engineering, various', '79.619', 'United States']
['29', 'Intel', 'Electronics', '77.867', 'United States']
['30', 'Sinopharm', 'Pharmaceuticals', '77.278', 'China']
['31', 'Nissan', 'Automotive', '74.169', 'Japan']
['32', 'Enel', 'Renewable energy', '74.047', 'Italy']
['33', 'IBM', 'Engineering, various', '73.620', 'United States']
['34', 'Beijing Automotive Group', 'Automotive', '72.147', 'China']
['35', 'Procter & Gamble', 'Consumer goods', '70.950', 'United States']
['36', 'PepsiCo', 'Food & beverages', '70.387', 'United States']
['37', 'BASF', 'Chemicals', '69.464', 'Germany']
['38', 'Aviation Industry Corporation of China', 'Aerospace & defense', '66.964', 'China']
['39', 'Lockheed Martin', 'Aerospace & defense', '65.398', 'United States']
['40', 'Hoffmann-La Roche', 'Pharmaceuticals', '64.285', 'Switzerland']
['41', 'Siemens', 'Engineering, various', '63.935', 'Germany']
['42', 'Sinochem', 'Chemicals', '63.544', 'China']
['43', 'Panasonic', 'Engineering, various', '63.191', 'Japan']
['44', 'Lenovo', 'Electronics', '60.742', 'China\n/\n\xa0United States']
['45', 'ChemChina', 'Chemicals', '60.491', 'China']
['46', 'Boeing', 'Aerospace & defense', '58.158', 'United States']
['47', 'Unilever', 'Consumer goods', '57.797', 'United Kingdom']
['48', 'Airbus', 'Aerospace & defense', '56.872', 'France']
['49', 'Hewlett-Packard', 'Electronics', '56.639', 'United States']
['50', 'Raytheon Technologies', 'Engineering, various', '56.587', 'United States']

In [45]:
# we are going to use Pandas loc, but for precautions, runs only once
for row in column_data[1:]:
    row_data = row.find_all('td')
    ind_row = [data.text.strip() for data in row_data]

    length = len(df)
    df.loc[length] = ind_row

df

,No.,Company,Industry,Revenue (by US$ billion),Headquarters
0,1,Apple,"Electronics, telecommunications equipment",274.515,United States
1,2,Toyota Group,"Engineering, various",256.721,Japan
2,3,Volkswagen Group,Automotive,253.965,Germany
3,4,Samsung Electronics,"Electronics, various",200.734,South Korea
4,5,Foxconn,Electronics,181.945,Taiwan
5,6,Mercedes-Benz Group,Automotive,175.827,Germany
6,7,Cardinal Health,Pharmaceuticals,152.922,United States
7,8,China Railway and Engineering Group,Engineering,141.383,China
8,9,Huawei,"Telecommunications equipment, electronics",129.183,China
9,10,Ford,Automotive,127.144,United States
10,11,Honda,Automotive,124.240,Japan
11,12,General Motors,Automotive,122.485,United States
12,13,Mitsubishi,"Engineering, various",121.542,Japan
13,14,BMW,Automotive,112.794,Germany
14,15,SAIC Motor,Automotive,107.555,China
15,16,China Minmetals,Metals,102.014,China
16,17,FAW Group,Automotive,101.075,China
17,18,Hengli Group,Textiles,100.773,China
18,19,China Baowu Steel Group,Steel,97.643,China
19,20,Dell,Electronics,94.224,United States
20,21,Nestle,Food & beverages,89.852,Switzerland\n/\n United States
21,22,Hyundai Motor Company,Automotive,88.155,South Korea
22,23,Dongfeng Motor Group,Automotive,86.85,China
23,24,Sony,Electronics,84.893,Japan
24,25,Johnson & Johnson,Personal care products,82.344,United States
25,26,Hitachi,"Engineering, various",82.334,Japan
26,27,Bosch,"Engineering, various",81.463,Germany
27,28,General Electric,"Engineering, various",79.619,United States
28,29,Intel,Electronics,77.867,United States
29,30,Sinopharm,Pharmaceuticals,77.278,China
30,31,Nissan,Automotive,74.169,Japan
31,32,Enel,Renewable energy,74.047,Italy
32,33,IBM,"Engineering, various",73.620,United States
33,34,Beijing Automotive Group,Automotive,72.147,China
34,35,Procter & Gamble,Consumer goods,70.950,United States
35,36,PepsiCo,Food & beverages,70.387,United States
36,37,BASF,Chemicals,69.464,Germany
37,38,Aviation Industry Corporation of China,Aerospace & defense,66.964,China
38,39,Lockheed Martin,Aerospace & defense,65.398,United States
39,40,Hoffmann-La Roche,Pharmaceuticals,64.285,Switzerland
40,41,Siemens,"Engineering, various",63.935,Germany
41,42,Sinochem,Chemicals,63.544,China
42,43,Panasonic,"Engineering, various",63.191,Japan
43,44,Lenovo,Electronics,60.742,China\n/\n United States
44,45,ChemChina,Chemicals,60.491,China
45,46,Boeing,Aerospace & defense,58.158,United States
46,47,Unilever,Consumer goods,57.797,United Kingdom
47,48,Airbus,Aerospace & defense,56.872,France
48,49,Hewlett-Packard,Electronics,56.639,United States
49,50,Raytheon Technologies,"Engineering, various",56.587,United States